:root {
  --primary-color: #EE8434;
  --secondary-color: #3C91E6;
  --background-color: #FAFFFD;
}
/*  Comentario  */
* {
  /* border: 1px solid black; */
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  background-color: var(--primary-color);
  height: 10vh;
  width: 100%;
  text-align: center;
}

header img {
  width: 180px;
}

header h1 {
  text-align: center;
  margin-top: 31.5px;
  font-family: Righteous;
}

.pedidos {
  box-sizing: border-box;
  background-color: var(--background-color);
  display: inline-block;
  height: 50vh;
  width: 70%;
  vertical-align: top;
}

.pizzas {
  box-sizing: border-box;
  background-color: var(--primary-color);
  display: inline-block;
  height: 50vh;
  width: 30%;
  vertical-align: top;
}

.pizzas img {
  display: block;
  width: 90%;
  margin: auto;
}
.ordenes {
  min-height: 20vh;
  background-color: white;
}

.pizza-orden {
  background-color: brown;
  display: inline-block;
  border-radius: 4px;
  margin: 10px 15px;
  width: 300px;
  color: var(--background-color);
  text-align: center;
}

.pizza-orden img {
  width: 150px;
  border-radius: 5px;
}

footer {
  height: 30vh;
  background-color: black;
}

input {
  font-size: 25px;
  border-radius: 5px;
  width: 200px;
  display: block;
}

input[type="submit"] {
  background: var(--primary-color);
  color: var(--background-color);
}

#pizza-form {
  display: block;
  margin: auto;
  width: 300px;
  padding: 20px;
  background: #3C91E6;
  color: white;
  line-height: 1.5em;
}
#pizza-form label {
  padding 20px;
}

footer {
  margin-bottom: 0px;
  background-color: var(--primary-color);
  height: 10vh;
}

footer p {
  color: var(--background-color);
  text-align: center;
  vertical-align: center;
}

.coupon {
  display: inline;
  width: 20px;
}