:root {
  --primary-color: #EE8434;
  --secondary-color: #3C91E6;
  --background-color: #FAFFFD;
}
/*  Comentario  */
* {
  padding: 0;
  margin: 0;
  border: 1px solid blue;
}

header {
  background-color: var(--primary-color);
  height: 100px;
  width: 100%;
}

header h1 {
  text-align: center;
  margin-top: 31.5px;
  font-family: Righteous;
}

.pedidos {
  box-sizing: border-box;
  background-color: var(--background-color);
  display: inline-block;
  height: 70vh;
  width: 70%;
  vertical-align: top;
}

.pizzas {
  box-sizing: border-box;
  background-color: pink;
  display: inline-block;
  height: 70vh;
  width: 30%;
  vertical-align: top;
}


.ordenes {
  min-height: 30vh;
  background-color: white;
}

.pizza-orden {
  background-color: brown;
  display: inline-block;
  border-radius: 4px;
  margin: 10px 15px;
  width: 300px;
}

.pizza-orden img {
  width: 100%;
}

footer {
  height: 30vh;
  background-color: black;
}

input {
  font-size: 25px;
  border-radius: 5px;
  width: 200px;
}
